body {
    background-color: lightgrey;
    text-align: center;
}
.container {
    max-width: 800px;
}
h1 {
    font-family: "Dynalight";
    color: grey;
    text-shadow: 0px 1px 0px black;
    margin-top: 1em;
}
#desc {
    text-align: left;
}
h3 {
    font-family: "Dynalight";
    color: #444444;
    margin-top: 1em;
}
p {
    text-align: left;
    font-family: "Overlock";
    font-size: 1.2em;
    color: #333333;
    /*text-indent: 2em;*/
}
.circle {
    position: relative;
    width: 30em;
    height: 30em;
    padding: 2.8em;
    /*= 2em * 1.4 (2em = half the width of an img, 1.4 = sqrt(2))*/
    background-color: grey;
    border-radius: 50%;
    margin: 1.75em auto 0;
    box-shadow: -2px 10px 10px 0px darkgrey;
}
.bulb {
    border-radius: 50%;
    background-color: brown;
    display: block;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 2em;
    margin: -1em;
    /* 2em = 4em/2 */
    /* half the width */
    box-shadow: inset 0px 10px 15px 0px tomato, -3px 5px 5px 0px brown;
}
.on {
    background-color: yellow;
    box-shadow: inset 0px 0px 6px 3px orange, 0px 0px 30px 15px orange;
}
#deg0000 { transform: translate(12em); } /* 12em = half the width of the wrapper */
#deg0225 { transform: rotate(22.5deg) translate(12em) rotate(-22.5deg); }
#deg0450 { transform: rotate(45deg) translate(12em) rotate(-45deg); }
#deg0675 { transform: rotate(67.5deg) translate(12em) rotate(-67.5deg); }
#deg0900 { transform: rotate(90deg) translate(12em) rotate(-90deg); }
#deg1125 { transform: rotate(112.5deg) translate(12em) rotate(-112.5deg); }
#deg1350 { transform: rotate(135deg) translate(12em) rotate(-135deg); }
#deg1575 { transform: rotate(157.5deg) translate(12em) rotate(-157.5deg); }
#deg1800 { transform: translate(-12em); }
#deg2025 { transform: rotate(202.5deg) translate(12em) rotate(-202.5deg); }
#deg2250 { transform: rotate(225deg) translate(12em) rotate(-225deg); }
#deg2475 { transform: rotate(247.5deg) translate(12em) rotate(-247.5deg); }
#deg2700 { transform: rotate(270deg) translate(12em) rotate(-270deg); }
#deg2925 { transform: rotate(292.5deg) translate(12em) rotate(-292.5deg); }
#deg3150 { transform: rotate(315deg) translate(12em) rotate(-315deg); }
#deg3375 { transform: rotate(337.5deg) translate(12em) rotate(-337.5deg); }
#start {
    transform: translate(0em,9em);
    height: 6em;
    width: 6em;
    border-radius: 50%;
    border: none;
}
.btn-success#start {
    box-shadow: inset 1px -1px 5px 2px darkgreen, -2px 3px 5px 5px dimgrey;
}
.btn-danger#start {
    box-shadow: inset 1px -1px 5px 2px darkred, -2px 3px 5px 5px dimgrey;
}